@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700&family=Montserrat:wght@500;700&display=swap");
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f2ebe3; }

.item {
  display: flex;
  max-width: 60rem;
  border-radius: 1rem;
  background-color: white;
  overflow: hidden;
  margin: 0 1.6rem; }
  @media only screen and (max-width: 43.75em) {
    .item {
      flex-direction: column;
      max-width: 45rem; } }
  .item__img-container {
    width: 50%; }
    @media only screen and (max-width: 43.75em) {
      .item__img-container {
        width: 100%; } }
  .item__img {
    width: 100%;
    height: auto;
    display: block; }
  .item__body {
    width: 50%;
    padding: 3.2rem; }
    @media only screen and (max-width: 43.75em) {
      .item__body {
        width: 100%; } }
    @media only screen and (max-width: 25em) {
      .item__body {
        padding: 2.4rem; } }
  .item__category {
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.5rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
    color: #6c7289;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 25em) {
      .item__category {
        margin-bottom: 1.2rem; } }
  .item__name {
    font-family: 'Fraunces', serif;
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 3.2rem;
    color: #1c232b;
    margin-bottom: 2.4rem; }
    @media only screen and (max-width: 25em) {
      .item__name {
        margin-bottom: 1.6rem; } }
  .item__description {
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 2.3rem;
    color: #6c7289;
    margin-bottom: 2.9rem; }
    @media only screen and (max-width: 25em) {
      .item__description {
        margin-bottom: 2.4rem; } }
  .item__price {
    display: flex;
    align-items: center;
    margin-bottom: 3rem; }
    @media only screen and (max-width: 25em) {
      .item__price {
        margin-bottom: 2rem; } }
    .item__price-now {
      font-family: 'Fraunces', serif;
      font-weight: 700;
      font-size: 3.2rem;
      line-height: 3.2rem;
      color: #3c8067;
      margin-right: 1.9rem; }
    .item__price-before {
      font-size: 1.3rem;
      line-height: 2.3rem;
      text-decoration-line: line-through;
      color: #6c7289; }
  .item__button {
    outline: none;
    border: none;
    border-radius: .8rem;
    width: 100%;
    height: 4.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: inherit;
    font-weight: 700;
    font-size: 1.4rem;
    line-height: 1.7rem;
    background-color: #3c8067;
    color: white;
    transition: all .2s; }
    .item__button:hover {
      cursor: pointer;
      background-color: #1b4133; }
    .item__button-icon {
      margin-right: 1.161rem; }
